<div>
  <mat-card *ngIf="tab; else elseBlock">
    <mat-card-content>
      <mat-form-field floatLabel="always" appearance="outline" fxFlex="40">
        <mat-label>Name:</mat-label>
        <input matInput [(ngModel)]="conceptDto.name" [formControl]="validator.name" required>
        <mat-error *ngIf="validator.name.invalid">{{errorMessage}}</mat-error>
      </mat-form-field>

      <mat-form-field floatLabel="always" appearance="outline" fxFlex="30">
        <mat-label>Iri:</mat-label>
        <input matInput [(ngModel)]="conceptDto.iri" [formControl]="validator.iri" required>
        <mat-error *ngIf="validator.iri.invalid">{{errorMessage}}</mat-error>
      </mat-form-field>

      <mat-form-field floatLabel="always" appearance="outline" fxFlex="30">
        <mat-label>Version:</mat-label>
        <input matInput [(ngModel)]="conceptDto.version" [formControl]="validator.version" required>
        <mat-error *ngIf="validator.version.invalid">{{errorMessage}}</mat-error>
      </mat-form-field>

      <mat-form-field floatLabel="always" appearance="outline" fxFlex="40">
        <mat-label>Code:</mat-label>
        <input matInput [(ngModel)]="conceptDto.code" [formControl]="validator.code" required>
        <mat-error *ngIf="validator.code.invalid">{{errorMessage}}</mat-error>
      </mat-form-field>

      <mat-form-field floatLabel="always" appearance="outline" fxFlex="30">
        <mat-label>Scheme:</mat-label>
        <mat-select [(ngModel)]="conceptDto.scheme" [formControl]="validator.scheme" required>
          <mat-option [matTooltip]="scheme.iri" *ngFor="let scheme of schemes" [value]="scheme">
            {{scheme.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="validator.scheme.invalid">{{errorMessage}}</mat-error>
      </mat-form-field>

      <mat-form-field floatLabel="always" appearance="outline" fxFlex="30">
        <mat-label>Status:</mat-label>
        <mat-select [(ngModel)]="conceptDto.status">
          <mat-option *ngFor="let status of statuses" [value]="status">
            {{status}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field floatLabel="always" appearance="outline" fxFlex="30">
        <mat-label>Type:</mat-label>
        <mat-select [(ngModel)]="conceptDto.conceptType">
          <mat-option *ngFor="let conceptType of conceptTypes" [value]="conceptType">
            {{conceptType}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="description" floatLabel="always" appearance="outline" fxFlex="50">
        <mat-label>Description:</mat-label>
        <textarea matInput [(ngModel)]="conceptDto.description" rows="10" [formControl]="validator.description"
          required></textarea>
        <mat-error *ngIf="validator.description.invalid">{{errorMessage}}</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-subtitle style="padding-top: 10px;">IMLang</mat-card-subtitle>
    <mat-card-content>
      <ngx-monaco-editor class="tab" [options]="editorOptions" [(ngModel)]="definitionText"
        (ngModelChange)="definitionChanged.next($event)">
      </ngx-monaco-editor>

      <!-- JSON editor for debugging purposes -->
      <!-- remove before live -->
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              JSON - Debug View
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ngx-monaco-editor [options]="editorOptions2" [(ngModel)]="conceptText"></ngx-monaco-editor>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
    <mat-card-actions>
      <div matTooltip="Syntax is invalid" [matTooltipDisabled]="isValidSyntax">
        <button [disabled]="!isValid" color="primary" mat-raised-button (click)="onClick()">
          Save Changes
        </button>
      </div>
    </mat-card-actions>

  </mat-card>

  <ng-template #elseBlock>
    <h1 mat-dialog-title>Create concept</h1>
    <mat-dialog-content>
      <mat-form-field floatLabel="always" appearance="outline" fxFlex="40">
        <mat-label>Name:</mat-label>
        <input matInput [(ngModel)]="conceptDto.name" [formControl]="validator.name" required>
        <mat-error *ngIf="validator.name.invalid">{{errorMessage}}</mat-error>
      </mat-form-field>

      <mat-form-field floatLabel="always" appearance="outline" fxFlex="30">
        <mat-label>Iri:</mat-label>
        <input matInput [(ngModel)]="conceptDto.iri" [formControl]="validator.iri" required>
        <mat-error *ngIf="validator.iri.invalid">{{errorMessage}}</mat-error>
      </mat-form-field>

      <mat-form-field floatLabel="always" appearance="outline" fxFlex="30">
        <mat-label>Version:</mat-label>
        <input matInput [(ngModel)]="conceptDto.version" [formControl]="validator.version" required>
        <mat-error *ngIf="validator.version.invalid">{{errorMessage}}</mat-error>
      </mat-form-field>

      <mat-form-field floatLabel="always" appearance="outline" fxFlex="40">
        <mat-label>Code:</mat-label>
        <input matInput [(ngModel)]="conceptDto.code" [formControl]="validator.code" required>
        <mat-error *ngIf="validator.code.invalid">{{errorMessage}}</mat-error>
      </mat-form-field>

      <mat-form-field floatLabel="always" appearance="outline" fxFlex="30">
        <mat-label>Scheme:</mat-label>
        <mat-select [(ngModel)]="conceptDto.scheme" [formControl]="validator.scheme" required>
          <mat-option [matTooltip]="scheme.iri" *ngFor="let scheme of schemes" [value]="scheme">
            {{scheme.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="validator.scheme.invalid">{{errorMessage}}</mat-error>
      </mat-form-field>

      <mat-form-field floatLabel="always" appearance="outline" fxFlex="30">
        <mat-label>Status:</mat-label>
        <mat-select [(ngModel)]="conceptDto.status">
          <mat-option *ngFor="let status of statuses" [value]="status">
            {{status}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field floatLabel="always" appearance="outline" fxFlex="30">
        <mat-label>Type:</mat-label>
        <mat-select [(ngModel)]="conceptDto.conceptType">
          <mat-option *ngFor="let conceptType of conceptTypes" [value]="conceptType">
            {{conceptType}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="description" floatLabel="always" appearance="outline" fxFlex="50">
        <mat-label>Description:</mat-label>
        <textarea matInput [(ngModel)]="conceptDto.description" rows="10" [formControl]="validator.description"
          required></textarea>
        <mat-error *ngIf="validator.description.invalid">{{errorMessage}}</mat-error>
      </mat-form-field>
      <h3 mat-dialog-title>IMLang</h3>
      <ngx-monaco-editor class="dialog" [options]="editorOptions" [(ngModel)]="definitionText"
        (ngModelChange)="definitionChanged.next($event)">
      </ngx-monaco-editor>

      <!-- JSON editor for debugging purposes -->
      <!-- remove before live -->
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              JSON - Debug View
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ngx-monaco-editor [options]="editorOptions2" [(ngModel)]="conceptText"></ngx-monaco-editor>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-dialog-content>

    <mat-dialog-actions>
      <button id="cancel" color="warn" mat-raised-button mat-dialog-close>Cancel</button>
      <div matTooltip="Syntax is invalid" [matTooltipDisabled]="isValidSyntax">
        <button [disabled]="!isValid" color="primary" mat-raised-button (click)="onClick()">Create</button>
      </div>

    </mat-dialog-actions>
  </ng-template>

</div>