<div class="flex" fxLayout="row wrap" fxLayoutGap="16px grid">
  <mat-card *ngIf="tab; else elseBlock">
    <mat-card-title>IMLang</mat-card-title>
    <mat-card-content>
      <ngx-monaco-editor class="tab" [options]="editorOptions" [(ngModel)]="definitionText"
        (ngModelChange)="definitionChanged.next($event)">
      </ngx-monaco-editor>
      <!-- JSON editor for debugging purposes -->
      <!-- remove before live -->
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              JSON
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ngx-monaco-editor [options]="editorOptions2" [(ngModel)]="conceptText"
            (ngModelChange)="definitionChanged.next($event)"></ngx-monaco-editor>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
    <mat-card-actions>
      <button color="primary" mat-button (click)="onEdit()">Edit</button>
    </mat-card-actions>
  </mat-card>

  <ng-template #elseBlock>
    <h1 mat-dialog-title>IMLang</h1>
    <mat-dialog-content>
      <ngx-monaco-editor class="dialog" [options]="editorOptions" [(ngModel)]="definitionText"
        (ngModelChange)="definitionChanged.next($event)">
      </ngx-monaco-editor>

      <!-- JSON editor for debugging purposes -->
      <!-- remove before live -->
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              JSON
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ngx-monaco-editor [options]="editorOptions2" [(ngModel)]="conceptText"
            (ngModelChange)="definitionChanged.next($event)"></ngx-monaco-editor>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-dialog-content>

    <mat-dialog-actions>
      <button id="cancel" color="warn" mat-button mat-dialog-close>Cancel</button>
      <button color="primary" mat-button (click)="onCreate()">Create</button>
    </mat-dialog-actions>
  </ng-template>

</div>