.mat-tab-body-wrapper {
  height: inherit!important;
}

table {
  width: 100%;
}

.mat-row {
  height: auto;
}

.mat-cell {
  padding: 8px 8px 8px 0;
}

.mat-header-cell {
  padding: 8px 8px 8px 0;
}

.mat-chip {
  font-size: 10px;
  font-weight: 400;
}

.mat-expansion-panel {
  background-color: #eceff1;
}