<div id="home-content">
  <mat-card>
    <app-navigation [title]="'Data model'" [subtitle]="'Discovery data model viewer & navigator'"
      [selectedPage]="'dataModel'"></app-navigation>
    <mat-card-content>
      <as-split direction="horizontal">
        <as-split-area size="30">
          <as-split direction="vertical" unit="pixel">
            <as-split-area [size]="searchSize" minSize="72" style="height: 100%; overflow: hidden">
              <div class="as-split-area-content" style="height: inherit">
                <app-concept-search [root]="root" [relationships]="relationships" (selection)="goto($event.iri)"
                  (hasResults)="hasResults($event)"></app-concept-search>
              </div>
            </as-split-area>
            <as-split-area>
              <div class="as-split-area-content">

                <mat-tab-group style="height: 100%;" mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
                  <mat-tab label="Class">
                    <ng-template mat-tab-label>
                      <mat-icon class="example-tab-icon">account_tree</mat-icon>
                      Class
                    </ng-template>
                    <ng-template matTabContent>
                      <app-concept-tree-view [root]="root" [conceptIri]="selectedIri" (selection)="goto($event)" (hover)="itemHover($event)"></app-concept-tree-view>
                    </ng-template>
                  </mat-tab>
                  <mat-tab label="Group" id="group-tab" class="group-tab" name="group-tab">
                    <ng-template mat-tab-label>
                      <mat-icon class="example-tab-icon">dashboard</mat-icon>
                      Group
                    </ng-template>

                    <!-- <mat-selection-list>
                      <mat-list-option><app-concept-tree-view [root]="':DMHealthEvent'" [conceptIri]="':DM_HealthEvent'" (selection)="goto($event)" (hover)="itemHover($event)"></app-concept-tree-view></mat-list-option>
                      <mat-list-option><app-concept-tree-view [root]="':DMIdentifiableEntity'" [conceptIri]="':DM_IdentifiableEntity'" (selection)="goto($event)" (hover)="itemHover($event)"></app-concept-tree-view></mat-list-option>
                      <mat-list-option><app-concept-tree-view [root]="':DMProvenance'" [conceptIri]="':DM_Provenance'" (selection)="goto($event)" (hover)="itemHover($event)"></app-concept-tree-view></mat-list-option>
                      <mat-list-option><app-concept-tree-view [root]="':DMStateEntry'" [conceptIri]="':DM_StateEntry'" (selection)="goto($event)" (hover)="itemHover($event)"></app-concept-tree-view></mat-list-option>
                      <mat-list-option><app-concept-tree-view [root]="':DMStructuredArtefact'" [conceptIri]="':DM_StructuredArtefact'" (selection)="goto($event)" (hover)="itemHover($event)"></app-concept-tree-view></mat-list-option>
                    </mat-selection-list> -->

                    <mat-selection-list dense>
                      <div mat-subheader>HealthEvent</div>
                      <mat-list-option *ngFor="let dataModelConcept of DMHealthEvent.result" (click)="goto(dataModelConcept.concept.iri)" (mouseenter)="itemHover(dataModelConcept.concept)" (mouseleave)="itemHover(null)">
                        <mat-icon mat-list-icon>launch</mat-icon>
                        <div mat-line>{{dataModelConcept.concept.name}}</div>
                      </mat-list-option>
                      <mat-divider></mat-divider>
                      <div mat-subheader>IdentifiableEntity</div>
                      <mat-list-option *ngFor="let dataModelConcept of DMIdentifiableEntity.result" (click)="goto(dataModelConcept.concept.iri)" (mouseenter)="itemHover(dataModelConcept.concept)" (mouseleave)="itemHover(null)">
                        <mat-icon mat-list-icon>launch</mat-icon>
                        <div mat-line>{{dataModelConcept.concept.name}}</div>
                      </mat-list-option>
                      <mat-divider></mat-divider>
                      <div mat-subheader>Provenance</div>
                      <mat-list-option *ngFor="let dataModelConcept of DMProvenance.result" (click)="goto(dataModelConcept.concept.iri)" (mouseenter)="itemHover(dataModelConcept.concept)" (mouseleave)="itemHover(null)">
                        <mat-icon mat-list-icon>launch</mat-icon>
                        <div mat-line>{{dataModelConcept.concept.name}}</div>
                      </mat-list-option>
                      <mat-divider></mat-divider>
                      <div mat-subheader>StateEntry</div>
                      <mat-list-option *ngFor="let dataModelConcept of DMStateEntry.result" (click)="goto(dataModelConcept.concept.iri)" (mouseenter)="itemHover(dataModelConcept.concept)" (mouseleave)="itemHover(null)">
                        <mat-icon mat-list-icon>launch</mat-icon>
                        <div mat-line>{{dataModelConcept.concept.name}}</div>
                      </mat-list-option>
                      <mat-divider></mat-divider>
                      <div mat-subheader>StructuredArtefact</div>
                      <mat-list-option *ngFor="let dataModelConcept of DMStructuredArtefact.result" (click)="goto(dataModelConcept.concept.iri)" (mouseenter)="itemHover(dataModelConcept.concept)" (mouseleave)="itemHover(null)">
                        <mat-icon mat-list-icon>launch</mat-icon>
                        <div mat-line>{{dataModelConcept.concept.name}}</div>
                      </mat-list-option>
                      <mat-divider></mat-divider>
                    </mat-selection-list>

                  </mat-tab>
                  <mat-tab label="History">
                    <ng-template mat-tab-label>
                      <mat-icon class="example-tab-icon">history</mat-icon>
                      History
                    </ng-template>

                     <mat-selection-list dense multiple="false">
                      <mat-list-option *ngFor="let item of history" [value]="item" (click)="goto(item.concept.iri)" (mouseenter)="itemHover(item.concept)" (mouseleave)="itemHover(null)">
                        <mat-icon mat-list-icon>launch</mat-icon>
                        <div mat-line>{{item.concept.name}}</div>
                      </mat-list-option>
                    </mat-selection-list>

                  </mat-tab>
                </mat-tab-group>
              </div>
            </as-split-area>

          </as-split>
        </as-split-area>
        <as-split-area size="70">
          <as-split direction="vertical" unit="pixel">
            <as-split-area size="150" minSize="150" maxSize="150" style="overflow: hidden">
              <div class="as-split-area-content">
                <div class="flex" fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="start">
                  <mat-form-field appearance="outline" fxFlex="70">
                    <mat-label>Name</mat-label>
                    <input matInput [value]="concept?.name" placeholder="Concept name" readonly id="conceptName">
                  </mat-form-field>
                  <mat-form-field appearance="outline" fxFlex="30">
                    <mat-label>Id</mat-label>
                    <input matInput [value]="concept?.iri" placeholder="Concept ID" readonly id="conceptId">
                  </mat-form-field>
                  <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Description</mat-label>
                    <input matInput [value]="concept?.description" placeholder="Concept description" readonly
                      id="conceptDescription">
                  </mat-form-field>
                </div>
              </div>
            </as-split-area>
            <as-split-area>
              <div class="as-split-area-content" style="height: calc(100% - 16px);">

                <mat-drawer-container class="example-container" hasBackdrop="true" style="height: calc(100% - 16px);">

                  <mat-drawer #drawer class="example-sidenav" mode="side" position="end" [(opened)]="sidebar" style="width: 40%;">
                    <div class="flex" fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="start">

                      <h2 mat-title>Data Model - Summary</h2>
                      <button mat-icon-button>
                        <mat-icon color="primary">open_in_new</mat-icon>
                      </button>
                      <button mat-icon-button color="primary" (click)="sidebar=false">
                        <mat-icon color="primary">close</mat-icon>
                      </button>

                      <mat-divider></mat-divider>

                      <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Name</mat-label>
                        <input matInput [value]="hoveredConcept.name" placeholder="Concept Name" readonly id="conceptDescription">
                      </mat-form-field>
                      <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Id</mat-label>
                        <input matInput [value]="hoveredConcept.iri" placeholder="Concept ID" readonly id="conceptDescription">
                      </mat-form-field>
                      <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Description</mat-label>
                        <textarea  matInput [value]="hoveredConcept.description" placeholder="Concept description" readonly id="conceptDescription"></textarea>
                      </mat-form-field>
                    </div>
                  </mat-drawer>

                    <mat-tab-group style="height: 100%;">
                      <mat-tab label="Inheritance">
                        <ng-template mat-tab-label>
                          <mat-icon class="example-tab-icon">account_tree</mat-icon>
                          Inheritance
                        </ng-template>
                        <ng-template matTabContent>
                          <app-data-model-navigator [conceptIri]="selectedIri" (selection)="goto($event)" (hover)="itemHover($event)"></app-data-model-navigator>
                        </ng-template>
                      </mat-tab>
                      <mat-tab label="Properties">
                        <ng-template mat-tab-label>
                          <mat-icon class="example-tab-icon">view_module</mat-icon>
                          Properties
                        </ng-template>
                        <ng-template matTabContent>
                          <data-model-tabular-view [conceptIri]="selectedIri" (selection)="goto($event)" (hover)="itemHover($event)">
                          </data-model-tabular-view>
                        </ng-template>
                      </mat-tab>
                      <mat-tab label="Textual">
                        <ng-template matTabContent>
                          <pre>{{getTextual()}}</pre>
                        </ng-template>
                      </mat-tab>
                      <mat-tab label="Schema">
                        <ng-template mat-tab-label>
                          <mat-icon class="example-tab-icon">view_module</mat-icon>
                          Schema
                        </ng-template>
                      </mat-tab>
                      <mat-tab label="Examples">
                        <ng-template mat-tab-label>
                          <mat-icon class="example-tab-icon">view_module</mat-icon>
                          Examples
                        </ng-template>
                      </mat-tab>
                    </mat-tab-group>

                </mat-drawer-container>

              </div>
            </as-split-area>
          </as-split>
        </as-split-area>
      </as-split>
    </mat-card-content>
  </mat-card>
</div>