<div id="home-content">
  <mat-card>
    <app-navigation [title]="'Data model'" [subtitle]="'Discovery data model viewer & navigator'" [selectedPage]="'dataModel'"></app-navigation>
    <mat-card-content>
      <as-split direction="horizontal">
        <as-split-area size="30">
          <as-split direction="vertical" unit="pixel">
            <as-split-area [size]="searchSize" minSize="72" style="height: 100%; overflow: hidden">
              <div class="as-split-area-content" style="height: inherit">
                <app-concept-search [root]="root" [relationships]="relationships" (selection)="goto($event.iri)" (hasResults)="hasResults($event)"></app-concept-search>
              </div>
            </as-split-area>
            <as-split-area>
              <div class="as-split-area-content">

                <mat-tab-group style="height: 100%;">
                  <mat-tab label="Class">
                    <ng-template matTabContent>
                      <app-concept-tree-view [root]="root" [conceptIri]="selectedIri" (selection)="goto($event)"></app-concept-tree-view>
                    </ng-template>
                  </mat-tab>
                  <mat-tab label="Group"> Group </mat-tab>
                </mat-tab-group>


                <!-- <app-concept-tree-view [root]="root" [conceptIri]="selectedIri" (selection)="goto($event)"></app-concept-tree-view> -->
              </div>
            </as-split-area>
          </as-split>
        </as-split-area>
        <as-split-area size="70">
          <as-split direction="vertical" unit="pixel">
            <as-split-area size="150" minSize="150" maxSize="150" style="overflow: hidden">
              <div class="as-split-area-content">
                <div class="flex" fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="start">
                  <mat-form-field appearance="outline" fxFlex="70">
                    <mat-label>Name</mat-label>
                    <input matInput [value]="concept?.name" placeholder="Concept name" readonly id="conceptName">
                  </mat-form-field>
                  <mat-form-field appearance="outline" fxFlex="30">
                    <mat-label>Id</mat-label>
                    <input matInput [value]="concept?.iri" placeholder="Concept ID" readonly id="conceptId">
                  </mat-form-field>
                  <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Description</mat-label>
                    <input matInput [value]="concept?.description" placeholder="Concept description" readonly id="conceptDescription">
                  </mat-form-field>
                </div>
              </div>
            </as-split-area>
            <as-split-area>
              <div class="as-split-area-content" style="height: calc(100% - 16px);">
                <mat-tab-group style="height: 100%;">
                  <mat-tab label="Graph">
                    <ng-template matTabContent>
                      <app-data-model-navigator [conceptIri]="selectedIri" (selection)="goto($event)"></app-data-model-navigator>
                    </ng-template>
                  </mat-tab>
                  <mat-tab label="Object"> Object </mat-tab>
                  <mat-tab label="Textual">
                    <ng-template matTabContent>
                      <pre>{{getTextual()}}</pre>
                    </ng-template>
                  </mat-tab>
                </mat-tab-group>
              </div>
            </as-split-area>
          </as-split>
        </as-split-area>
      </as-split>
    </mat-card-content>
  </mat-card>
</div>
