<app-library-component
  [relationships]="relationships"
  [concept]="concept"
  [children]="children"
  [parents]="parents"
  [selectedIri]="selectedIri"
  [perspective]="perspectives.ontology"
>
  <!-- Dashboard container-->
  <mat-drawer-container class="example-container" hasBackdrop="true"
                        style="height: calc(100%);overflow:hidden;">

    <!-- SideBar -->
    <mat-drawer #drawer class="example-sidenav" mode="over" position="end" [(opened)]="sidebar" style="width: 45%;overflow:hidden;">

      <mat-card fxFlex="100" class="app-background">
        <mat-card-header>
          <mat-card-title>
            <span>Concept - Summary</span>
            <div class="spacer"></div>
            <button mat-icon-button fxFlex="40px">
              <mat-icon color="primary">open_in_new</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="sidebar=false" fxFlex="40px">
              <mat-icon color="primary">close</mat-icon>
            </button>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="flex" fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="start">
            <mat-form-field appearance="outline" fxFlex="100">
              <mat-label>Name</mat-label>
              <input matInput [value]="hoveredConcept.name" placeholder="Concept Name" readonly
                     id="conceptName">
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="100">
              <mat-label>Id</mat-label>
              <input matInput [value]="hoveredConcept.iri" placeholder="Concept ID" readonly
                     id="conceptId">
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="100">
              <mat-label>Description</mat-label>
              <textarea matInput [value]="hoveredConcept.description" placeholder="Concept description"
                        readonly id="conceptDescription" rows="10"></textarea>
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-drawer>

    <!-- Dashboard content-->
    <mat-tab-group style="height: 100%;" mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
      <mat-tab label="Definition">
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">account_tree</mat-icon>
          Definition
        </ng-template>
        <ng-template matTabContent>

          <div class="flex" fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="start">

            <mat-form-field floatLabel="always" appearance="outline" fxFlex="60">
              <mat-label>Name:</mat-label>
              <input dense matInput [value]="concept.name" disabled>
            </mat-form-field>

            <mat-form-field floatLabel="always" appearance="outline" fxFlex="20">
              <mat-label>Iri:</mat-label>
              <input disabled matInput [value]="concept.iri">
            </mat-form-field>

            <mat-form-field floatLabel="always" appearance="outline" fxFlex="20">
              <mat-label>Namespace:</mat-label>
              <input disabled matInput [value]="concept.iri">
            </mat-form-field>

            <mat-form-field floatLabel="always" appearance="outline" fxFlex="60">
              <mat-label>Code:</mat-label>
              <input disabled matInput [value]="concept.code">
            </mat-form-field>

            <mat-form-field floatLabel="always" appearance="outline" fxFlex="20">
              <mat-label>Scheme:</mat-label>
              <input disabled matInput [value]="concept.scheme?.name">
            </mat-form-field>

            <mat-form-field floatLabel="always" appearance="outline" fxFlex="20">
              <mat-label>Status:</mat-label>
              <input disabled matInput [value]="concept.status?.toString()">
            </mat-form-field>

            <mat-form-field floatLabel="always" appearance="outline" fxFlex="100">
              <mat-label>Description:</mat-label>
              <textarea disabled matInput [value]="concept.description" rows="10"></textarea>
            </mat-form-field>

            <app-concept-definition [concept]="concept" fxFlex="100"></app-concept-definition>

          </div>


        </ng-template>
      </mat-tab>
      Edit Concept
      <mat-tab label="View 2">
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">edit</mat-icon>
          Edit Concept
        </ng-template>

        <ng-template matTabContent>

          <h4 mat-dialog-title>Concept:</h4>

          <table width="100%" cellspacing="5">
            <tr>
              <td>
                <mat-form-field dense floatLabel="always" style="width:100%" appearance="outline">
                  <mat-label>Name:</mat-label>
                  <input dense matInput [value]="concept.name">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field dense floatLabel="always" style="width:100%" appearance="outline">
                  <mat-label>Iri:</mat-label>
                  <input dense matInput [value]="concept.iri">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field dense floatLabel="always" style="width:100%" appearance="outline">
                  <mat-label>Namespace:</mat-label>
                  <select matNativeControl required>
                    <option value="owl:">http://www.w3.org/2002/07/owl#</option>
                    <option value=":">http://www.DiscoveryDataService.org/InformationModel/Ontology#</option>
                    <option value="sn:">http://snomed.info/sct#</option>
                    <option value="xsd:">http://www.w3.org/2001/XMLSchema#</option>
                    <option value="rdf:">http://www.w3.org/1999/02/22-rdf-syntax-ns#</option>
                    <option value="xml:">http://www.w3.org/XML/1998/namespace</option>
                    <option value="rdfs:">http://www.w3.org/2000/01/rdf-schema#</option>
                  </select>
                </mat-form-field>
              </td>
            </tr>

            <tr>
              <td>
                <mat-form-field dense floatLabel="always" style="width:100%" appearance="outline">
                  <mat-label>Code:</mat-label>
                  <input dense matInput>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field dense floatLabel="always" style="width:100%" appearance="outline">
                  <mat-label>Scheme:</mat-label>
                  <input dense matInput>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field dense floatLabel="always" style="width:100%" appearance="outline">
                  <mat-label>Status:</mat-label>
                  <select matNativeControl required>
                    <option value="0">Draft</option>
                    <option value="1">Active</option>
                    <option value="2">Inactive</option>
                  </select>
                </mat-form-field>
              </td>
            </tr>
          </table>


          <mat-form-field dense floatLabel="always" style="width:100%" appearance="outline">
            <mat-label>Description:</mat-label>
            <textarea matInput [value]="concept.description"></textarea>
          </mat-form-field>

          <mat-grid-list cols="3">
            <mat-grid-tile>
              <mat-grid-tile-header>Tree View</mat-grid-tile-header>
              <json-editor [options]="editorOptions" [data]="definition[0].definition" (change)="getData($event)" style="position: absolute;top: 62px;width: 100%;height: 100%;"></json-editor>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-grid-tile-header>Graph View</mat-grid-tile-header>
              2
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-grid-tile-header>Element Form</mat-grid-tile-header>

              <table width="100%" cellspacing="5" style="position: absolute;top: 62px;">
                <tr>
                  <td>
                    <mat-form-field dense floatLabel="always" style="width:100%" appearance="outline">
                      <mat-label>Relationship:</mat-label>
                      <select matNativeControl required>
                        <option value="0">Is a</option>
                        <option value="1">Sibling of</option>
                        <option value="2">subclass of</option>
                      </select>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td>
                    <mat-form-field dense floatLabel="always" style="width:100%" appearance="outline">
                      <mat-label>Concept:</mat-label>
                      <select matNativeControl required>
                        <option value="0">Encounter</option>
                        <option value="1">Consultation</option>
                        <option value="2">Patient</option>
                      </select>
                    </mat-form-field>
                  </td>
                </tr>
              </table>
            </mat-grid-tile>
          </mat-grid-list>

        </ng-template>

      </mat-tab>
    </mat-tab-group>

  </mat-drawer-container>
</app-library-component>
