<div style="height: 100%; display: flex; align-items: center; justify-content: center;">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar>
        <span class="fad fa-user"></span>
      </div>
      <mat-card-title>Create account</mat-card-title>
      <mat-card-subtitle>Enter your details to create an account</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div style="max-width: 500px">
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="username" placeholder="Username" id="username">
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="password" placeholder="Password" id="password">
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>EMail</mat-label>
        <input matInput [(ngModel)]="email" placeholder="EMail address" id="email">
      </mat-form-field>

      <mat-error *ngIf="error">{{error}}</mat-error>
      </div>
    </mat-card-content>
    <mat-card-footer style="margin: 16px" align="end">
      <button mat-flat-button (click)="onSubmit()">Create account</button>
    </mat-card-footer>
  </mat-card>
</div>
