<mat-card-content class="full-page-card">
  <div class="example-container" hasBackdrop="true" style="height: calc(100%);">
    <!-- Members -->
      <div class="flex" fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="start">

        <mat-form-field floatLabel="always" appearance="outline" fxFlex="45" readonly>
          <mat-label>Included:</mat-label>
          <mat-wrapper>
            <mat-nav-list dense style="height: 200px; overflow: auto;">
              <ng-container *ngFor="let member of concept.Member">
              <mat-list-item *ngIf="member.Exclude == false" (click)="nodeDblClick(member.iri)" (dblclick)="nodeDblClick(member.Class.iri)">
                <mat-icon matListIcon>add</mat-icon>
                <h3 matLine> {{member.Class.name}} </h3>
                <p matLine>
                  <span> {{member.Class.iri}} </span>
                </p>
              </mat-list-item>
            </ng-container>
            </mat-nav-list>
          </mat-wrapper>
        </mat-form-field>

        <mat-form-field floatLabel="always" appearance="outline" fxFlex="45" readonly>
          <mat-label>Excluded:</mat-label>
          <mat-wrapper>
            <mat-nav-list multiple="false" dense style="height: 200px; overflow: auto;">
              <ng-container *ngFor="let member of concept.Member">
              <mat-list-item *ngIf="member.Exclude == true" (click)="nodeDblClick(member.iri)" (dblclick)="nodeDblClick(member.Class.iri)">
                <mat-icon matListIcon>remove</mat-icon>
                <h3 matLine> {{member.Class.name}} </h3>
                <p matLine>
                  <span> {{member.Class.iri}} </span>
                </p>
              </mat-list-item>
            </ng-container>
            </mat-nav-list>
          </mat-wrapper>
        </mat-form-field>

        <mat-menu #downloadMenu="matMenu" xPosition="before">
          <button mat-menu-item (click)="download('application/json', false)">Members (JSON)</button>
          <button mat-menu-item (click)="download('text/csv', false)">Members (CSV)</button>
          <button mat-menu-item (click)="download('application/json', true)">Expanded (JSON)</button>
          <button mat-menu-item (click)="download('text/csv', true)">Expanded (CSV)</button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="downloadMenu" matTooltip="Download valueset" class="icon"
          style="float:right" fxFlex="8">
          <mat-icon>get_app</mat-icon>
        </button>
      </div>
    </div>
</mat-card-content>
