<h1 mat-dialog-title>Concept children</h1>
<div mat-dialog-content>
  <table class="mat-table mat-table-compact">
    <thead>
      <tr class="mat-header-row">
        <th class="mat-header-cell">Term</th>
        <th class="mat-header-cell">Iri</th>
        <th class="mat-header-cell">Code</th>
        <th class="mat-header-cell">View</th>
      </tr>
    </thead>
    <tbody>
      <ng-container  *ngFor="let item of children">
        <tr class="mat-row">
          <td class="mat-cell" colspan="4"><b>{{item.name}}</b></td>
        </tr>
        <tr *ngFor="let c of item.children" class="mat-row">
          <td class="mat-cell">{{c.name}}</td>
          <td class="mat-cell">{{c.iri}}</td>
          <td class="mat-cell">{{c.code}}</td>
          <td class="mat-cell">(<u (click)="navigateTo('/ontology/' + c.iri,'IMViewer_Ontology')" style="cursor: pointer; color: blue;">view</u>)</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="close()">Close</button>
</div>
