<div>
  <h2 class="mat-h2">Edit Profile</h2>
  <div class="flex" fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="start">
    <mat-form-field appearance="outline" fxFlex="50">
      <mat-label>Forename</mat-label>
      <input matInput [(ngModel)]="user.forename" placeholder="Forename" id="forename" required>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="50">
      <mat-label>Surname</mat-label>
      <input matInput [(ngModel)]="user.surname" placeholder="Surname" id="surname" required>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="100">
      <mat-label>EMail</mat-label>
      <input matInput [(ngModel)]="user.email" placeholder="Email address" id="email" required>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="100">
      <mat-label>Avatar URL (optional)</mat-label>
      <input matInput [(ngModel)]="user.avatar" placeholder="Avatar URL (optional)" id="avatar">
    </mat-form-field>

    <mat-error *ngIf="error">{{error}}</mat-error>
  </div>
</div>
<div mat-dialog-actions>
  <span class="spacer"></span>
  <button mat-button color="warn" (click)="onClose()">Cancel</button>
  <button mat-button color="primary" (click)="onOk()">Save</button>
</div>
