<div id="home-content">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar>
        <span class="fad fa-sitemap"></span>
      </div>
      <mat-card-title>Value Sets</mat-card-title>
      <mat-card-subtitle>Discovery value set viewer & navigator</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <as-split direction="horizontal">
        <as-split-area size="30">
          <as-split direction="vertical" unit="pixel">
            <as-split-area [size]="searchSize" minSize="72" style="height: 100%; overflow: hidden">
              <div class="as-split-area-content" style="height: inherit">
                <app-concept-search [root]="root" [relationships]="relationships" (selection)="goto($event.iri)" (hasResults)="hasResults($event)"></app-concept-search>
              </div>
            </as-split-area>
            <as-split-area>
              <div class="as-split-area-content">
                <app-concept-tree-view [root]="root" [conceptIri]="selectedIri" (selection)="goto($event)"></app-concept-tree-view>
              </div>
            </as-split-area>
          </as-split>
        </as-split-area>
        <as-split-area size="70">
          <as-split direction="vertical" unit="pixel">
            <as-split-area size="150" minSize="150" maxSize="150" style="overflow: hidden">
              <div class="as-split-area-content">
                <div class="flex" fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="start">
                  <mat-form-field appearance="outline" fxFlex="70">
                    <mat-label>Name</mat-label>
                    <input matInput [value]="concept?.name" placeholder="Concept name" readonly id="conceptName">
                  </mat-form-field>
                  <mat-form-field appearance="outline" fxFlex="30">
                    <mat-label>Id</mat-label>
                    <input matInput [value]="concept?.iri" placeholder="Concept ID" readonly id="conceptId">
                  </mat-form-field>
                  <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Description</mat-label>
                    <input matInput [value]="concept?.description" placeholder="Concept description" readonly id="conceptDescription">
                  </mat-form-field>
                </div>
              </div>
            </as-split-area>
            <as-split-area>
              <div class="as-split-area-content">
                <div class="flex" fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="start">
                  <mat-form-field appearance="outline" fxFlex="calc(100% - 16px)">
                    <mat-label id="definition-label">Members</mat-label>
                    <mat-wrapper>

                      <mat-accordion>
                        <ng-container *ngFor="let item of members">
                        <mat-expansion-panel  (opened)="expand(item)">
                          <mat-expansion-panel-header>
                            <mat-panel-title>{{item.name}}</mat-panel-title>
                          </mat-expansion-panel-header>
                          <b>Iri: </b>{{item.iri}}
                          <b>Code: </b>{{item.code}}
                          <br>
                          <b>Definition: </b>{{getJson(item.definition)}} (<a [routerLink]="['/ontology']" [queryParams]="{id: item.iri}" target="IMViewer_Ontology" style="cursor: pointer; color: blue;">view in ontology</a>)
                          <hr>
                          <table class="mat-table mat-table-compact" style="width: 100%">
                            <thead>
                              <tr class="mat-header-row">
                                <th class="mat-header-cell">Code scheme</th>
                                <th class="mat-header-cell">Count</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let i of item.counts" class="mat-row">
                                <td class="mat-cell">{{(i.name) ? i.name : 'No scheme'}}</td>
                                <td class="mat-cell">{{i.count}} (<u (click)="viewChildren(item, i.iri)" style="cursor: pointer; color: blue">view</u>)</td>
                              </tr>
                              <tr class="mat-row">
                                <td class="mat-cell"><b>Total</b></td>
                                <td class="mat-cell">{{sumCounts(item.counts)}} (<u (click)="viewChildren(item)" style="cursor: pointer; color: blue">view</u>)</td>
                              </tr>
                            </tbody>
                          </table>

                        </mat-expansion-panel>
                        </ng-container>
                      </mat-accordion>

                    </mat-wrapper>
                  </mat-form-field>
                </div>
              </div>
            </as-split-area>
          </as-split>
        </as-split-area>
      </as-split>
    </mat-card-content>
  </mat-card>
</div>
