<div class="content">
  <mat-card>

    <!-- Header -->
    <app-card-header [title]="perspectives.maps.caption"
                     [subtitle]="perspectives.maps.description"
                     [icon]="perspectives.maps.icon"
                     [color]="perspectives.maps.color"
                     style="height: 64px;"></app-card-header>
    <!-- Dashboard container-->
    <mat-card-content class="full-page-card">

      <div><b>Note: </b>Click the icon to expand/collapse.  Single click the text to select. Double click the text to navigate/refocus.</div>
      <hr>
      <div><b>Root: </b>{{rootNode.iri}} | {{rootNode.name}}</div>
      <div><b>Highlight: </b>{{highlight.iri}} | {{highlight.name}}</div>
      <hr>

    <ng-container [ngTemplateOutlet]="biTreeNode" [ngTemplateOutletContext]="{node: rootNode, type: 0}"></ng-container>

    </mat-card-content>
  </mat-card>
</div>

<ng-template #biTreeNode let-node="node" let-type="type">
  <div style="padding-left: 16px">
    <div *ngFor="let i of node.parents">
      <ng-container [ngTemplateOutlet]="biTreeNode" [ngTemplateOutletContext]="{node: i, type: -1}"></ng-container>
    </div>
    <span [class.selected]="node == highlight">
      <i [class]="getIcon(node, type)" (click)="expand(node, type)"></i>
      <span (click)="highlight = node" (dblclick)="navigateTo(node)"> {{node.iri}} | {{node.name}}</span>
    </span>
    <div *ngFor="let i of node.children">
      <ng-container [ngTemplateOutlet]="biTreeNode" [ngTemplateOutletContext]="{node: i, type: 1}"></ng-container>
    </div>
  </div>
</ng-template>
