// **********************************************************************
// * Base styles
// **********************************************************************
html {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  height: 100%
}

// **********************************************************************
// * Themes
// **********************************************************************
// Default theme
.perspective_img_0 {
  content: url('assets/gry-ontology.jpg');
}

.perspective_img_1 {
  content: url('assets/gry-datamodels.jpg');
}

.perspective_img_2 {
  content: url('assets/gry-valuesets.jpg');
}

.perspective_img_3 {
  content: url('assets/gry-datasets.jpg');
}

.perspective_img_4 {
  content: url('assets/gry-maps.jpg');
}

.perspective_img_5 {
  content: url('assets/gry-search.jpg');
}

.hover-highlight:hover {
  background-color: mat-color($accent, 200);
}

.select-highlight.selected {
  background-color: mat-color($accent);
}

// Dark theme
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);

$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.dark-theme {
  @include angular-material-theme($dark-theme);

  .hover-highlight:hover {
    background-color: mat-color($dark-accent, 600);
  }

  .select-highlight.selected {
    background-color: mat-color($dark-accent);
  }
}

// Teal theme
$teal-primary: mat-palette($mat-teal);
$teal-accent: mat-palette($mat-pink, A200, A100, A400);
$teal-warn: mat-palette($mat-red);

$teal-theme: mat-light-theme($teal-primary, $teal-accent, $teal-warn);

.teal-theme {
  @include angular-material-theme($teal-theme);

  .perspective_img_0 {
    content: url('assets/clr-ontology.jpg');
  }

  .perspective_img_1 {
    content: url('assets/clr-datamodels.jpg');
  }

  .perspective_img_2 {
    content: url('assets/clr-valuesets.jpg');
  }

  .perspective_img_3 {
    content: url('assets/clr-datasets.jpg');
  }

  .perspective_img_4 {
    content: url('assets/clr-maps.jpg');
  }

  .perspective_img_5 {
    content: url('assets/clr-search.jpg');
  }

  .hover-highlight:hover {
    background-color: mat-color($teal-accent, 200);
  }

  .select-highlight.selected {
    background-color: mat-color($teal-accent);
  }
}

$background: map-get($theme, background);

// XMas theme
$xmas-primary: mat-palette($mat-green);
$xmas-accent: mat-palette($mat-red, A200, A100, A400);
$xmas-warn: mat-palette($mat-purple);

$xmas-theme: mat-light-theme($xmas-primary, $xmas-accent, $xmas-warn);

$xmas-green: #169878;
$xmas-red: #E1384A;

.xmas-theme {
  @include angular-material-theme($xmas-theme);
  .avatar {
    content: url('assets/xmas/avatar.jpg');
  }

  .app-background {
    background-color: $xmas-green !important
  }

  .mat-toolbar {
    background-image: url('assets/xmas/lights.gif');
    background-size: contain;
    background-position-y: -22px;
    background-repeat: repeat-x;
    background-color: lighten($xmas-green, 20);
  }

  .mat-card {
    background-color: lighten($xmas-green, 20);
  }

  .mat-drawer-container {
    background-color: lighten($xmas-red, 20);
  }

  .mat-tab-body-content {
    background-color: lighten($xmas-red, 20);
  }

  .mat-tab-body.mat-tab-body-active {
    background-color: lighten($xmas-green, 20) !important;
  }

  .mat-tree {
    background-color: lighten($xmas-red, 20);
  }

  .body-bg {
    background-color:lighten($xmas-red, 20);
  }

  .mat-expansion-panel {
    background-color: lighten($xmas-red, 20);
  }

  .mat-table {
    background-color: lighten($xmas-green, 20) !important;
  }

  .perspective_img_0 {
    content: url('assets/xms-ontology.jpg');
  }

  .perspective_img_1 {
    content: url('assets/xms-datamodels.jpg');
  }

  .perspective_img_2 {
    content: url('assets/xms-valuesets.jpg');
  }

  .perspective_img_3 {
    content: url('assets/xms-datasets.jpg');
  }

  .perspective_img_4 {
    content: url('assets/xms-maps.jpg');
  }

  .perspective_img_5 {
    content: url('assets/xms-search.jpg');
  }

  .hover-highlight:hover {
    background-color: mat-color($xmas-accent, 200);
  }

  .select-highlight.selected {
    background-color: mat-color($xmas-accent);
  }
}

$background: map-get($theme, background);

// **********************************************************************
// * Material styles
// **********************************************************************
mat-card {
  width: -webkit-fill-available;
}

mat-card-header {
  height: 3.25em !important;
}

.mat-chips-right {
  .mat-chip-list-wrapper {
    justify-content: flex-end;
  }
}

.mat-drawer-content {
  overflow-x: hidden !important;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.mat-tab-body-wrapper {
  height: 100%;
}

mat-toolbar.mat-toolbar mat-form-field.mat-form-field {
  margin-top: -0.75em;
}

.mat-card-header-text {
  width: 100%;
  margin: 0 !important;
}

.mat-icon {
  font-size: 24px * $scale !important;
  height: 24px * $scale !important;
}

.mat-icon-button {
  width: 40px * $scale !important;
  height: 40px * $scale !important;
  line-height: 40px * $scale !important;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 64px * $scale !important;
}

.mat-menu-item {
  height: 2em !important;
  line-height: mat-line-height($custom-typography, input) *2em !important;
}

.mat-tab-label {
  height: 3em !important;
}

.mat-card-avatar {
  margin-top: 4px;
  margin-right: 8px;
}

mat-tree-node {
  min-height: 1em !important;
}

.mat-expansion-panel-header {
  height: 32px * $scale !important;
}

mat-accordion .mat-expansion-panel-header-title,
mat-accordion .mat-expansion-panel-header-description {
  flex-basis: 0;
}

mat-accordion .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-accordion .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.mat-grid-tile .mat-figure {
  justify-content: flex-start!important;
  align-items: flex-start!important;
  > div {
    width: 100%;
    height: 100%;
  }
  mat-grid-tile-header {
    height: 3em;
    + div {
      margin-top: 3em;
      overflow-y: auto;
      height: calc(100% - 3em);
    }
  }
}

.mat-list-item-content.mat-list-item-content-reverse {
  padding-left: 0 !important;
}

.mat-list-base  {
  .mat-list-item.mat-list-item-with-avatar, .mat-list-option.mat-list-item-with-avatar {
    height: auto !important;
  }
}

.mat-tab-body {
  padding-top: 8px;
  background-color: mat-color($background, card) !important;
}

.mat-tab-body-content {
  overflow-x: hidden !important;
}

tr.mat-row {
  height: 28px * $scale !important;
}

tr.mat-header-row {
  height: 28px * $scale !important;
}

.mat-option {
  font-size: mat-font-size($custom-typography, body-1);
  height: 28px * $scale !important;
  line-height: 28px * $scale !important;
}

.mat-small-chip {
  min-height: 18px * $scale !important;
  font-size: mat-font-size($custom-typography, caption);
}

.mat-form-field-wrapper {
  padding-bottom: 0;
  margin-bottom: -6px !important;
}

.mat-text-primary {
  color: mat-color($primary, text);
}

.mat-text-accent {
  color: mat-color($accent, text);
}

.mat-text-warn {
  color: mat-color($warn, text);
}

mat-sidenav-container {
  height: calc(100vh - 64px);
}

.mat-slide-align-input {
  margin-top: 22px;
}

// **********************************************************************
// * Additional (e.g. 3rd party)
// **********************************************************************
@import "~jsoneditor/dist/jsoneditor.min.css";

.app-background {
  background-color: mat-color($background, app-bar) !important
}

.as-split-area-content {
  padding: 8px;
}

.as-horizontal > .as-split-gutter {
  background: unset !important;
  width: 11px !important;
  height: unset !important;
  > .as-split-gutter-icon {
    @extend .app-background;
    background-image: url('assets/resize-h.png') !important;
  }
}
.as-vertical > .as-split-gutter {
  background: unset !important;
  width: unset !important;
  height: 11px !important;
  > .as-split-gutter-icon {
    @extend .app-background;
    background-image: url('assets/resize-v.png') !important;
  }
}

// **********************************************************************
// * App specific styles
// **********************************************************************
.logger-info {
  color: white !important;
  background-color: #1976d2 !important;
}

.logger-success {
  color: white !important;
  background-color: #388e3c !important;
}

.logger-error {
  color: white !important;
  background-color: #d32f2f !important;
}

.spacer {
  flex: 1 1 auto;
}

.icon {
  padding: 0 14px;
}

.avatar {
  width: 32px * $scale;
  height: 32px * $scale;
  border-radius: 50%;
  margin-bottom: 0;

  -webkit-transition-property: width, height, opacity, margin-bottom, -webkit-transform;
  transition-property: transform, width, height, opacity, margin-bottom, -webkit-transform;
  -webkit-transition-duration: 150ms;
  transition-duration: 150ms;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.content {
  padding: 16px;
  overflow: hidden;
}

.pointer {
  cursor: pointer;
}

app-concept-search {
  font-family: mat-font-family($custom-typography);
  font-size: mat-font-size($custom-typography, body-1);
}

.as-split-area-content > .mat-card > .full-page-card {
  height: calc(100vh - 164px);
}

.content > .mat-card > .full-page-card {
  height: calc(100vh - 180px);
}

.no-wrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.invisible{
  display: block !important;
  visibility: hidden !important;
  height: 0 !important;
  width: 0 !important;
}

.global-search {
  width: 30%;
  position: absolute !important;
  top: 14px;
  left: calc(100% / 2);
  transform: translateX(-50%);
}
