.concept-tree-invisible {
    display: none;
}
  
.concept-tree ul,
.concept-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.mat-tree-node {
    min-height: 2.0em !important;
    height: 2.0em;
}