:host {
  ::ng-deep {
    .mat-expansion-panel-body {
      padding: 0 0;
    }
  }
}

:host {
  ::ng-deep {
    .mat-expansion-panel-header {
      padding: 0 0;
    }
  }
}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  padding: 0 0;
}

.mat-grid-tile .mat-figure {
  justify-content: flex-start;
  align-items: flex-start;
}
