<div id="home-content">
  <mat-card>
    <mat-card-content>
      <as-split direction="horizontal">
        <!-- LEFT -->
        <as-split-area size="30" style="height: 97%;">
          <app-side-nav [root]="root" [relationships]="relationships" [concept]="concept" [selectedIri]="selectedIri" (itemHoverEvent)="itemHover($event)"></app-side-nav>
        </as-split-area>

        <!-- RIGHT -->
        <as-split-area size="70">
          <div class="as-split-area-content">
            <mat-card>

              <!-- Header -->
              <app-navigation [title]="'Ontology - ' + concept.name" [subtitle]="concept.description" [selectedPage]="'ontology'" style="height: 64px;"></app-navigation>
              <!-- Dashboard container-->
              <mat-card-content style="height: calc(100vh - 157px);">
                <mat-drawer-container class="example-container" hasBackdrop="true"
                  style="height: calc(100%);overflow:hidden;">

                  <!-- SideBar -->
                  <mat-drawer #drawer class="example-sidenav" mode="over" position="end" [(opened)]="sidebar"
                    style="width: 45%;overflow:hidden;">
                    <div class="flex" fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="start">

                      <mat-card fxFlex="100">
                        <mat-card-header>
                          <mat-card-title>
                            <span fxFlex="90">Concept - Summary</span>
                            <button mat-icon-button fxFlex="5">
                              <mat-icon color="primary">open_in_new</mat-icon>
                            </button>
                            <button mat-icon-button color="primary" (click)="sidebar=false" fxFlex="5">
                              <mat-icon color="primary">close</mat-icon>
                            </button>
                          </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                          <div class="flex" fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="start">
                            <mat-form-field appearance="outline" fxFlex="90" style="padding-left: 16px;">
                              <mat-label>Name</mat-label>
                              <input matInput [value]="hoveredConcept.name" placeholder="Concept Name" readonly
                                id="conceptDescription">
                            </mat-form-field>
                            <mat-form-field appearance="outline" fxFlex="90" style="padding: 2px 16px 16px 16px;">
                              <mat-label>Id</mat-label>
                              <input matInput [value]="hoveredConcept.iri" placeholder="Concept ID" readonly
                                id="conceptDescription">
                            </mat-form-field>
                            <mat-form-field appearance="outline" fxFlex="90" style="padding: 2px 16px 16px 16px;">
                              <mat-label>Description</mat-label>
                              <textarea matInput [value]="hoveredConcept.description" placeholder="Concept description"
                                readonly id="conceptDescription" style="height: 80px;"></textarea>
                            </mat-form-field>

                            <h3 fxFlex="80" *ngIf="properties.length > 0">Model Properties</h3>
                            <app-properties-table [properties]="properties" *ngIf="properties.length > 0" style="width:100%">
                            </app-properties-table>
                            <h3 fxFlex="80" *ngIf="definitions.length > 0">Concept Definitions</h3>
                            <app-defintion-table [definitions]="definitions" *ngIf="definitions.length > 0" style="width:100%">
                            </app-defintion-table>
                            <h3 fxFlex="80" *ngIf="valuesets.length > 0">Valueset Members</h3>
                            <app-valueset-table [valuesets]="valuesets" *ngIf="valuesets.length > 0" style="width:100%">
                            </app-valueset-table>
                          </div>
                        </mat-card-content>
                      </mat-card>

                    </div>
                  </mat-drawer>

                  <!-- Dashboard content-->
                  <mat-tab-group style="height: 100%;" mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
                    <mat-tab label="Definition">
                      <ng-template mat-tab-label>
                        <mat-icon class="example-tab-icon">account_tree</mat-icon>
                        Definition
                      </ng-template>
                      <ng-template matTabContent>

                        <div class="flex" fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="start">

                          <mat-form-field appearance="outline" fxFlex="calc(100% - 16px)">
                            <mat-label id="definition-label">Definitions</mat-label>
                            <mat-wrapper>
                              <table *ngIf="definition && definition.length > 0" class="mat-table mat-table-compact mat-elevation-z8" fxFlex="100" aria-describedby="definition-label">
                                <thead>
                                  <tr class="mat-header-row">
                                    <th scope="col" class="mat-header-cell">Definitions</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let p of definition" class="mat-row">
                                    <td class="mat-cell">{{json(p)}}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </mat-wrapper>
                          </mat-form-field>

                         <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label id="properties-label">Properties</mat-label>
                            <mat-wrapper>
                              <table *ngIf="property && property.length > 0" class="mat-table mat-table-compact mat-elevation-z8" fxFlex="100" aria-describedby="properties-label">
                                <thead>
                                  <tr class="mat-header-row">
                                    <th scope="col" class="mat-header-cell">Property</th>
                                    <th scope="col" class="mat-header-cell">Card.</th>
                                    <th scope="col" class="mat-header-cell">Type</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let p of property" class="mat-row">
                                    <td class="mat-cell">{{p.property.name}}</td>
                                    <td class="mat-cell">{{p.minCardinality}} : {{p.maxCardinality}}</td>
                                    <td class="mat-cell">{{p.valueType.name}}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </mat-wrapper>
                          </mat-form-field>
                        </div>


                      </ng-template>
                    </mat-tab>
                    <mat-tab label="View 2">
                      <ng-template mat-tab-label>
                        <mat-icon class="example-tab-icon">view_module</mat-icon>
                        View 2
                      </ng-template>
                    </mat-tab>
                    <mat-tab label="View 3">
                      <ng-template mat-tab-label>
                        <mat-icon class="example-tab-icon">view_module</mat-icon>
                        View 3
                      </ng-template>
                    </mat-tab>
                  </mat-tab-group>
                </mat-drawer-container>
              </mat-card-content>
            </mat-card>
          </div>
        </as-split-area>
      </as-split>
    </mat-card-content>
  </mat-card>
</div>
