<div id="home-content">
  <mat-card>
    <app-navigation [title]="'Ontology'" [subtitle]="'Discovery ontology viewer & navigator'" [selectedPage]="'ontology'"></app-navigation>
    <mat-card-content>
      <as-split direction="horizontal">
        <as-split-area size="30">
          <as-split direction="vertical" unit="pixel">
            <as-split-area [size]="searchSize" minSize="72" style="height: 100%; overflow: hidden">
              <div class="as-split-area-content" style="height: inherit">
                <app-concept-search [root]="root" [relationships]="relationships" (selection)="goto($event.iri)" (hasResults)="hasResults($event)"></app-concept-search>
              </div>
            </as-split-area>
            <as-split-area>
              <div class="as-split-area-content">
                <app-concept-tree-view [root]="root" [conceptIri]="selectedIri" (selection)="goto($event)"></app-concept-tree-view>
              </div>
            </as-split-area>
          </as-split>
        </as-split-area>
        <as-split-area size="70">
          <as-split direction="vertical" unit="pixel">
            <as-split-area size="150" minSize="150" maxSize="150" style="overflow: hidden">
              <div class="as-split-area-content">
                <div class="flex" fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="start">
                  <mat-form-field appearance="outline" fxFlex="70">
                    <mat-label>Name</mat-label>
                    <input matInput [value]="concept?.name" placeholder="Concept name" readonly id="conceptName">
                  </mat-form-field>
                  <mat-form-field appearance="outline" fxFlex="30">
                    <mat-label>Id</mat-label>
                    <input matInput [value]="concept?.iri" placeholder="Concept ID" readonly id="conceptId">
                  </mat-form-field>
                  <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Description</mat-label>
                    <input matInput [value]="concept?.description" placeholder="Concept description" readonly id="conceptDescription">
                  </mat-form-field>
                </div>
              </div>
            </as-split-area>
            <as-split-area>
              <div class="as-split-area-content">
                <div class="flex" fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="start">
                  <mat-form-field appearance="outline" fxFlex="calc(100% - 16px)">
                    <mat-label id="definition-label">Definition</mat-label>
                    <mat-wrapper>
                      <table *ngIf="definition && definition.length > 0" class="mat-table mat-table-compact mat-elevation-z8" fxFlex="100" aria-describedby="definition-label">
                        <thead>
                          <tr class="mat-header-row">
                            <th scope="col" class="mat-header-cell">Relationship</th>
                            <th scope="col" class="mat-header-cell">Concept</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let p of definition" class="mat-row">
                            <td class="mat-cell">{{p.relationship.name}}</td>
                            <td class="mat-cell">{{p.concept.name}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </mat-wrapper>
                  </mat-form-field>

<!--                  <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label id="properties-label">Properties</mat-label>
                    <mat-wrapper>
                      <table *ngIf="properties && properties.length > 0" class="mat-table mat-table-compact mat-elevation-z8" fxFlex="100" aria-describedby="properties-label">
                        <thead>
                          <tr class="mat-header-row">
                            <th scope="col" class="mat-header-cell">Property</th>
                            <th scope="col" class="mat-header-cell">Card.</th>
                            <th scope="col" class="mat-header-cell">Type</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let p of properties" class="mat-row">
                            <td class="mat-cell">{{p.property.name}}</td>
                            <td class="mat-cell">{{p.minCardinality}} : {{p.maxCardinality}}</td>
                            <td class="mat-cell">{{p.valueType.name}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </mat-wrapper>
                  </mat-form-field>-->
                </div>
              </div>
            </as-split-area>
          </as-split>
        </as-split-area>
      </as-split>
    </mat-card-content>
  </mat-card>
</div>
