<app-library-component [relationships]="relationships" [concept]="concept" [children]="children" [parents]="parents"
  [selectedIri]="selectedIri" [perspective]="perspectives.dataModel">

  <!-- Dashboard container-->
  <mat-card-content class="full-page-card">
    <mat-drawer-container class="example-container" hasBackdrop="true" style="height: calc(100%);overflow:hidden;">

      <!-- SideBar -->
      <summary-drawer [concept]="hoveredConcept"></summary-drawer>

      <!-- Dashboard content-->
      <mat-tab-group style="height: 100%;" mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
        <mat-tab label="Inheritance" style="height: 100%">
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">account_tree</mat-icon>
            Inheritance
          </ng-template>
          <ng-template matTabContent style="height: 100%">
            <app-data-model-navigator [conceptIri]="selectedIri" [concept]="concept"></app-data-model-navigator>
          </ng-template>
        </mat-tab>
        <mat-tab label="Properties">
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">view_module</mat-icon>
            Properties
          </ng-template>
          <ng-template matTabContent>
            <data-model-tabular-view [conceptIri]="selectedIri" [concept]="concept" [children]="children"
              [parents]="parents"></data-model-tabular-view>
          </ng-template>
        </mat-tab>
        <mat-tab label="Textual">
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">view_module</mat-icon>
            Textual
          </ng-template>
          <ng-template matTabContent>
            <pre>test</pre>
          </ng-template>
        </mat-tab>
        <mat-tab label="Schema">
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">view_module</mat-icon>
            Schema
          </ng-template>
        </mat-tab>
        <mat-tab label="Schema">
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">view_module</mat-icon>
            API
          </ng-template>
        </mat-tab>
        <mat-tab label="Examples">
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">view_module</mat-icon>
            Examples
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </mat-drawer-container>
  </mat-card-content>
</app-library-component>