<!-- templates -->
<ng-template #warnNoDataFoundTemplate>
  <div style="display: flex;vertical-align: middle;">
    -
  </div>
</ng-template>

<ng-template #infoNoDataFoundTemplate>
  <div style="display: flex;vertical-align: middle;">
    -
  </div>
</ng-template>

<ng-template #chipListTemplate let-chips="chips" , let-title="title">
  <mat-expansion-panel expanded="false" togglePosition="before" displayMode="flat">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>{{title}} ({{chips.length}})</b>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-chip-list>
      <mat-chip (click)="onClick(chip.iri)" (dblclick)="onDblClick(chip.iri)" class="mat-small-chip"
        *ngFor="let chip of chips">
        {{chip.name}}
      </mat-chip>
    </mat-chip-list>
  </mat-expansion-panel>
</ng-template>

<!-- main page -->
<ng-template #propertiesTableTemplate let-tableData="tableData" let-title="title">
<mat-expansion-panel expanded="true" togglePosition="before" displayMode="flat" *ngIf="tableData.length > 0" >
  <mat-expansion-panel-header>
    <mat-panel-title>
      <b>Properties ({{tableData.length}}) </b> <span *ngIf="title">&nbsp;- Inherited from <b>{{title}}</b></span>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <ng-container style="width: 100%;">
    <table mat-table [dataSource]="tableData" style="width: 100%;">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef style="width: 30%;">Name</th>
        <td mat-cell *matCellDef="let row">
          <!-- if ValueType -->
          <ng-container *ngIf="isObjectProperty(row)">
            <span (click)="onClick(row.ObjectPropertyValue.Property.iri)" (dblclick)="onDblClick(row.ObjectPropertyValue.Property.iri)">
              {{row.ObjectPropertyValue.Property.name}}
            </span>
          </ng-container>

          <!-- if DataType -->
          <ng-container *ngIf="isDataProperty(row)">
            <span (click)="onClick(row.DataPropertyValue.Property.iri)" (dblclick)="onDblClick(row.DataPropertyValue.Property.iri)">
              {{row.DataPropertyValue.Property.name}}
            </span>
          </ng-container>

        </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef style="width: 20%;">Type</th>
        <td mat-cell *matCellDef="let row">
          <!-- if ValueType -->
          <ng-container *ngIf="isObjectProperty(row)">
            <span (click)="onClick(row.ObjectPropertyValue.ValueType.iri)" (dblclick)="onDblClick(row.ObjectPropertyValue.ValueType.iri)">
              {{row.ObjectPropertyValue.ValueType.name}}
            </span>
          </ng-container>

          <!-- if DataType -->
          <ng-container *ngIf="isDataProperty(row)">
            <span (click)="onClick(row.DataPropertyValue.DataType.iri)" (dblclick)="onDblClick(row.DataPropertyValue.DataType.iri)">
             {{row.DataPropertyValue.DataType.iri}}
            </span>
          </ng-container>

        </td>
      </ng-container>

      <ng-container matColumnDef="cardinality">
        <th mat-header-cell *matHeaderCellDef style="width: 10%;">Cardinality</th>
        <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="isObjectProperty(row)">
            {{(row.ObjectPropertyValue.Min ? row.ObjectPropertyValue.Min : DEFAULT_MIN_CARDINALITY)}} : {{(row.ObjectPropertyValue.Max ? row.ObjectPropertyValue.Max : DEFAULT_MAX_CARDINALITY)}}
          </ng-container>
          <ng-container *ngIf="isDataProperty(row)">
            {{(row.DataPropertyValue.Min ? row.DataPropertyValue.Min : DEFAULT_MIN_CARDINALITY)}} : {{(row.DataPropertyValue.Max ? row.DataPropertyValue.Max : DEFAULT_MAX_CARDINALITY)}}
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="propertiesTable.columns"></tr>
      <tr mat-row *matRowDef="let row; columns: propertiesTable.columns;"></tr>
    </table>
  </ng-container>
</mat-expansion-panel>
</ng-template>

<ng-container *ngTemplateOutlet="propertiesTableTemplate;context:{tableData : propertiesTableData}">
</ng-container>

<div *ngFor="let a of ancestors; let i = index">
  <ng-container *ngTemplateOutlet="propertiesTableTemplate;context:{tableData : ancestorsTableDataList[i], title: ancestors[i].name}">
  </ng-container>
</div>

<ng-container *ngTemplateOutlet="chipListTemplate;context:parentsChipListTemplateContext">
</ng-container>

<ng-container *ngTemplateOutlet="chipListTemplate;context:childrenChipListTemplateContext">
</ng-container>
