<!-- templates -->
<ng-template #warnNoDataFoundTemplate>
  <div style="display: flex;vertical-align: middle;">
    Warning - no data found
  </div>
</ng-template>

<ng-template #infoNoDataFoundTemplate>
  <div style="display: flex;vertical-align: middle;">
    Info - no data found
  </div>
</ng-template>

<ng-template #hierarchyTemplate let-table="table", let-title="title">

  <mat-expansion-panel expanded="false" togglePosition="before" displayMode="flat">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>{{title}}</b>
      </mat-panel-title>
    </mat-expansion-panel-header>

  <ng-container *ngIf="table && table.hasRows(); else infoNoDataFoundTemplate">
    <mat-table [dataSource]="table.rows" multiTemplateDataRows>
      <ng-container matColumnDef="hname">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let row"> 
          {{row.name}} 
          <button mat-icon-button (click)="openDataModel(row.iri)">
            <mat-icon>open_in_new</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="hiri">
        <th mat-header-cell *matHeaderCellDef>IRI</th>
        <td mat-cell *matCellDef="let row"> {{row.iri}} </td>
      </ng-container>  
      
      <ng-container matColumnDef="hdescription">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let row"> {{row.description}}
          <ng-container *ngIf="row.description; else warnNoDataFoundTemplate">
            {{row.description}}
          </ng-container>
        </td>
      </ng-container>        

      <tr mat-header-row *matHeaderRowDef="table.columns"></tr>
      <tr mat-row *matRowDef="let element; columns: table.columns;"></tr>

    </mat-table>
  </ng-container>
</mat-expansion-panel>
</ng-template>

<!-- main page -->
<ng-container 
   *ngTemplateOutlet="hierarchyTemplate;context:parentsHierarchyTemplateContext">
</ng-container>
<ng-container 
   *ngTemplateOutlet="hierarchyTemplate;context:childrenHierarchyTemplateContext">
</ng-container>
<mat-expansion-panel expanded="true" togglePosition="before" displayMode="flat">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <b>Properties</b>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <ng-container *ngIf="propertiesTable && propertiesTable.hasRows(); else infoNoDataFoundTemplate">
    <mat-table [dataSource]="propertiesTable.rows" multiTemplateDataRows>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let row"> 
          {{row.name}} 
          <button mat-icon-button (click)="openDataModel(row.iri)">
            <mat-icon>open_in_new</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="iri">
        <th mat-header-cell *matHeaderCellDef>IRI</th>
        <td mat-cell *matCellDef="let row"> {{row.iri}} </td>
      </ng-container>  
      
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let row"> {{row.description}}
          <ng-container *ngIf="row.description; else warnNoDataFoundTemplate">
            {{row.type}}
          </ng-container>
        </td>
      </ng-container>        

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="row.type; else warnNoDataFoundTemplate">
            {{row.type}}
            <button mat-icon-button (click)="openDataModel(row.source.valueType.iri)">
              <mat-icon matTooltip="{{propertiesTable.getTooltip(row.source.valueType)}}">open_in_new</mat-icon>
            </button>
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="minCardinality">
        <th mat-header-cell *matHeaderCellDef>Min Cardinality</th>
        <td mat-cell *matCellDef="let row">
          {{row.minCardinality}}
        </td>
      </ng-container>

      <ng-container matColumnDef="maxCardinality">
        <th mat-header-cell *matHeaderCellDef>Max Cardinality</th>
        <td mat-cell *matCellDef="let row">
          {{row.maxCardinality}}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="propertiesTable.columns"></tr>
      <tr mat-row *matRowDef="let element; columns: propertiesTable.columns;"></tr>

    </mat-table>
  </ng-container>
</mat-expansion-panel>