
  
.mat-expansion-panel {
    background-color: #eceff1;
}

.mat-column-hname {
  flex: none;
  width: 50%;
}

.mat-column-hiri {
  flex: none;
  width: 30%;
}

.mat-column-hdescription {
  width: 20%;
}

.mat-table {
  table-layout: fixed;
}

  
  