<div mat-dialog-content>
  <table class="mat-table" style="width: 100%">
    <tr class="mat-header-row">
      <th class="mat-header-cell" colspan="2"><h2>Concept</h2></th>
    </tr>
    <tr class="mat-row">
      <td class="mat-cell">{{data.concept.name}}</td>
      <td class="mat-cell">
        <mat-chip-list class="mat-chips-right">
          <mat-chip class="mat-small-chip" (click)="navigate(data.concept.iri)" [style.background-color]="perspectives.ontology.color">Ontology</mat-chip>
          <mat-chip class="mat-small-chip" *ngFor="let type of types" (click)="navigate(data.concept.iri, type.iri)" [style.background-color]="getColor(type.iri)">{{type.name}}</mat-chip>
        </mat-chip-list>
      </td>
    </tr>

    <ng-container *ngIf="usages==null || usages.length > 0">
      <tr class="mat-header-row">
        <th class="mat-header-cell" colspan="2"><h2>Usages</h2></th>
      </tr>
      <tr class="mat-header-row" *ngIf="usages==null">
        <th class="mat-header-cell" colspan="2" style="overflow-y: hidden"><mat-spinner style="margin: 0 auto" >Test</mat-spinner></th>
      </tr>
      <tr class="mat-row" *ngFor="let item of usages">
        <td class="mat-cell">{{item.name}}</td>
        <td class="mat-cell">
          <mat-chip-list class="mat-chips-right">
            <mat-chip class="mat-small-chip" (click)="navigate(item.iri)" [style.background-color]="perspectives.ontology.color">Ontology</mat-chip>
            <mat-chip class="mat-small-chip" *ngFor="let type of item.types" (click)="navigate(item.iri, type.iri)" [style.background-color]="getColor(type.iri)">{{type.name}}</mat-chip>
          </mat-chip-list>
        </td>
      </tr>
    </ng-container>

  </table>
</div>
<div mat-dialog-actions>
  <span class="spacer"></span>
  <button mat-button (click)="onClose()">Cancel</button>
</div>
