<div mat-dialog-content>
<!--  <table class="mat-table" style="width: 100%">
    <tr class="mat-header-row">
      <th class="mat-header-cell" colspan="2">Concept</th>
    </tr>
    <tr class="mat-row">
      <td class="mat-cell">{{data.concept.name}}</td>
      <td class="mat-cell">
        <mat-chip-list>
          <mat-chip (click)="navigate(data.concept.iri)" [style.background-color]="menuService.ontology.color">Ontology</mat-chip>
        </mat-chip-list>
      </td>
    </tr>

    <ng-container *ngIf="usages!=null && usages.length > 0">
      <tr class="mat-header-row">
        <th class="mat-header-cell" colspan="2">Usages</th>
      </tr>
      <tr class="mat-row" *ngFor="let item of usages">
        <td class="mat-cell">{{item.name}}</td>
        <td class="mat-cell">
          <mat-chip-list>
            <mat-chip (click)="navigate(item.iri)" [style.background-color]="menuService.ontology.color">Ontology</mat-chip>
            <mat-chip *ngFor="let type of item.types" (click)="navigate(item.iri, type.iri)" [style.background-color]="getColor(type.iri)">{{type.name}}</mat-chip>
          </mat-chip-list>
        </td>
      </tr>
    </ng-container>

  </table>-->
<!--  <mat-list>
    <div mat-subheader>Concept</div>
    <mat-list-item>
      <h2 mat-line>{{data.concept.name}}</h2>
      <h6>
        <mat-chip-list>
          <mat-chip (click)="navigate(data.concept.iri)" [style.background-color]="menuService.ontology.color">Ontology</mat-chip>
        </mat-chip-list>
      </h6>
    </mat-list-item>
    <mat-divider></mat-divider>

    <div mat-subheader>Usages</div>
    <mat-list-item *ngFor="let item of usages">
      <h2 mat-line>{{item.name}}</h2>
      <h6>
        <mat-chip-list>
          <mat-chip (click)="navigate(item.iri)" [style.background-color]="menuService.ontology.color">Ontology</mat-chip>
          <mat-chip *ngFor="let type of item.types" (click)="navigate(item.iri, type.iri)" [style.background-color]="getColor(type.iri)">{{type.name}}</mat-chip>
        </mat-chip-list>
      </h6>
    </mat-list-item>
  </mat-list>-->
  <mat-accordion>
    <mat-expansion-panel disabled>
      <mat-expansion-panel-header>
        <mat-panel-title><h2>Concept</h2></mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{data.concept.iri}}</mat-panel-title>
        <mat-panel-description>
          {{data.concept.name}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-chip-list>
        <mat-chip (click)="navigate(data.concept.iri)" [style.background-color]="perspectives.ontology.color">Ontology</mat-chip>
      </mat-chip-list>
    </mat-expansion-panel>

    <mat-expansion-panel disabled *ngIf="usages!=null && usages.length > 0">
      <mat-expansion-panel-header>
        <mat-panel-title><h2>Usages</h2></mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>

    <mat-expansion-panel *ngFor="let item of usages">
      <mat-expansion-panel-header>
        <mat-panel-title>{{item.iri}}</mat-panel-title>
        <mat-panel-description>
          {{item.name}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-chip-list>
        <mat-chip (click)="navigate(item.iri)" [style.background-color]="perspectives.ontology.color">Ontology</mat-chip>
        <mat-chip *ngFor="let type of item.types" (click)="navigate(item.iri, type.iri)" [style.background-color]="getColor(type.iri)">{{type.name}}</mat-chip>
      </mat-chip-list>
    </mat-expansion-panel>

  </mat-accordion>
</div>
<div mat-dialog-actions>
  <span class="spacer"></span>
  <button mat-button (click)="onClose()">Cancel</button>
</div>
