<mat-toolbar>
  <!-- ********** LEFT ********** -->
  <button mat-icon-button class="icon" (click)="sidenav.toggle()" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <div (click)="navigate('mainPage')" class="pointer">Information Model <span [hidden]="!appConfig.subtitle"> - {{appConfig.subtitle}}</span></div>
  <span class="spacer"></span>

  <!-- ********** CENTER ********** -->
  <!-- coronavirus 2 detected -->
  <mat-form-field appearance="outline" style="width: 30%">
    <mat-label>Search Information Model</mat-label>
    <mat-icon matPrefix style="cursor: pointer">search</mat-icon>
    <input matInput placeholder="Search" id="searchInput" #searchInput [matAutocomplete]="auto" (focus)="searchInput.select()">
    <mat-spinner *ngIf="searchCall" matSuffix diameter="20"></mat-spinner>
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of results" [value]="option.name" (onSelectionChange)="inspectConcept(option)">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <span class="spacer"></span>

  <!-- ********** RIGHT ********** -->
  <button mat-icon-button class="icon" aria-label="Example icon-button with share icon" (click)="getHelp()">
    <mat-icon>help_outline</mat-icon>
  </button>

  <mat-menu #appMenu="matMenu" xPosition="before">
    <button mat-menu-item (click)="navigate('mainPage')"><i class="fas fa-fw fa-home"></i> Home</button>
    <ng-container *ngIf="menuItems">
      <button *ngFor="let item of menuItems" mat-menu-item (click)="navigate(item.primary.state)"><i class="fas fa-fw" [ngClass]="item.icon" [style.color]="item.color"></i> {{item.caption}}</button>
    </ng-container>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="appMenu" matTooltip="Application menu" class="icon" aria-label="Example icon-button with share icon">
    <mat-icon>apps</mat-icon>
  </button>

  <mat-menu #menu="matMenu" xPosition="before">
    <button mat-menu-item (click)="showProfile()"><i class="fas fa-fw fa-user" style="padding-right: 8px;"></i>Profile</button>
    <button mat-menu-item [matMenuTriggerFor]="themeMenu"><i class="fas fa-fw fa-paint-roller" style="padding-right: 8px;"></i>Theme</button>
    <button mat-menu-item><i class="fas fa-fw fa-sliders-h" style="padding-right: 8px;"></i>Settings</button>
    <button mat-menu-item (click)="logout()"><i class="fas fa-fw fa-sign-out" style="padding-right: 8px;"></i>Logout</button>
  </mat-menu>
  <mat-menu #themeMenu="matMenu">
    <button mat-menu-item (click)="onSetTheme('default-theme')">Default</button>
    <button mat-menu-item (click)="onSetTheme('dark-theme')">Dark</button>
    <button mat-menu-item (click)="onSetTheme('teal-theme')">Teal</button>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="User menu">
    <img class="avatar" [src]="(user?.avatar == null) ? 'assets/avatar.png' : user?.avatar">
  </button>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" style="width: 280px">
    <button mat-menu-item (click)="navigate('mainPage')"><i class="fas fa-fw fa-home"></i> Home</button>
    <mat-divider></mat-divider>
    <button *ngFor="let item of menuItems" mat-menu-item (click)="navigate(item.primary.state)"><i class="fad fa-fw" [ngClass]="item.icon" [style.color]="item.color"></i> {{item.caption}}</button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="showProfile()"><i class="fad fa-fw fa-user"></i>Profile</button>
    <button mat-menu-item [matMenuTriggerFor]="themeMenu"><i class="fad fa-fw fa-paint-roller" ></i>Theme</button>
    <button mat-menu-item><i class="fad fa-fw fa-sliders-h" ></i>Settings</button>
    <button mat-menu-item (click)="logout()"><i class="fad fa-fw fa-sign-out" ></i>Logout</button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="overflow: hidden">
      <router-outlet>
        <div *ngIf="user==null" class="flex" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="16px grid" fxLayoutAlign="start">
          <div class="flex-center" fxFill fxFlex="100">
            <mat-spinner></mat-spinner>
          </div>
        </div>
      </router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
