<div class="nav-content">
  <div class="layout-header">
    <mat-toolbar>
      <span class="title">{{title}}</span>
      <span class="toolbar-fill"></span>

      <button mat-button [matMenuTriggerFor]="menu" matTooltip="User menu">
        <img class="avatar" [src]="(user?.avatar == null) ? 'avatar.png' : user?.avatar">
        <span class="name">{{user?.forename}} {{user?.surname}}</span>
        <i class="fas fa-fw fa-chevron-down"></i>
      </button>

      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item (click)="showProfile()"><i class="fas fa-fw fa-user" style="padding-right: 8px;"></i>Profile</button>
        <button mat-menu-item [matMenuTriggerFor]="themeMenu"><i class="fas fa-fw fa-paint-roller" style="padding-right: 8px;"></i>Theme</button>
        <button mat-menu-item><i class="fas fa-fw fa-sliders-h" style="padding-right: 8px;"></i>Settings</button>
        <button mat-menu-item (click)="logout()"><i class="fas fa-fw fa-sign-out" style="padding-right: 8px;"></i>Logout</button>
      </mat-menu>
      <mat-menu #themeMenu="matMenu">
        <button mat-menu-item (click)="onSetTheme('default-theme')">Default</button>
        <button mat-menu-item (click)="onSetTheme('dark-theme')">Dark</button>
        <button mat-menu-item (click)="onSetTheme('teal-theme')">Teal</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="appMenu" matTooltip="Application menu">
        <i class="fas fa-fw fa-2x fa-th"></i>
      </button>
      <mat-menu #appMenu="matMenu" xPosition="before">
        <ng-container *ngIf="menuItems">
          <button *ngFor="let item of menuItems" mat-menu-item (click)="navigate(item.state)"><i class="fa-fw" [ngClass]="item.icon"></i> {{item.caption}}</button>
        </ng-container>
      </mat-menu>

      <button mat-button (click)="getHelp()" matTooltip="Online help"><i class="far fa-fw fa-2x fa-question-circle"></i></button>

    </mat-toolbar>
  </div>
  <div class="layout-body">
    <router-outlet>
      <div *ngIf="user==null" class="flex" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="16px grid" fxLayoutAlign="start">
        <div class="flex-center" fxFill fxFlex="100">
          <mat-spinner></mat-spinner>
        </div>
      </div>
    </router-outlet>
  </div>
</div>
