.concept-tree-invisible {
    display: none;
}

.concept-tree ul,
.concept-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.concept-tree ul {
  padding-inline-start: 10px;
}

.mat-tree-node {
    min-height: 1.4em !important;
    height: 1.4em;
}
