<!-- <p>{{parents | json}}</p> -->

<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="tree-compact scroll" id="conceptTree">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node"
    matTreeNodePadding
    matTreeNodePaddingIndent="15"
    class="hover-highlight"
    [class.selected]="concept.iri == node.iri"
    (click)="selectNode(node)"
    (mouseenter)="nodeHover(node)" (mouseleave)="nodeHover(null)"
    style="cursor: pointer">
    >
    <!-- use a disabled button to provide padding for tree leaf -->
    <button mat-icon-button disabled></button>
    {{node.name}}
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding
    matTreeNodePadding
    matTreeNodePaddingIndent="15"
    class="hover-highlight"
    [class.selected]="concept.iri == node.iri"
    (click)="selectNode(node)"
    (mouseenter)="nodeHover(node)" (mouseleave)="nodeHover(null)" style="cursor: pointer"
    >
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    {{node.name}}
  </mat-tree-node>
</mat-tree>
