<mat-card-content class="full-page-card" style="padding-top:20px;">
  <div class="example-container" hasBackdrop="true" style="height: calc(100%);">

    <!-- Dashboard content-->
    <mat-tab-group style="width: 100%; height: calc(100vh - 450px);" mat-stretch-tabs
      class="example-stretched-tabs mat-elevation-z1">
      <mat-tab label="Inheritance" *ngIf="perspective.root == ':DiscoveryCommonDataModel'">
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">account_tree</mat-icon>
          Inheritance
        </ng-template>
        <ng-template matTabContent>
          <app-health-record-navigator [conceptIri]="concept.iri" [concept]="concept"></app-health-record-navigator>
        </ng-template>
      </mat-tab>
      <mat-tab label="Properties" *ngIf="perspective.root == ':DiscoveryCommonDataModel'">
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">view_module</mat-icon>
          Properties
        </ng-template>
        <ng-template matTabContent>
          <health-record-tabular-view [concept]="concept" [children]="children" [parents]="parents">
          </health-record-tabular-view>
        </ng-template>
      </mat-tab>

      <mat-tab label="Members" *ngIf="perspective.root == ':VSET_ValueSet'">
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">account_tree</mat-icon>
          Member definition
        </ng-template>
        <ng-template matTabContent>
          <app-view-members [concept]="concept" [children]="children" [parents]="parents"></app-view-members>
        </ng-template>
      </mat-tab>

      <mat-tab label="Members" *ngIf="perspective.root == ':VSET_ValueSet'">
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">account_tree</mat-icon>
          Evaluated Members
        </ng-template>
        <ng-template matTabContent>

          <div class="flex" fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="start">

            <mat-form-field appearance="outline" fxFlex="25">
              <mat-label>Filter 1</mat-label>
              <mat-select [value]="'test'">
                <mat-option [value]="'test'">test</mat-option>
                <mat-option [value]="'test2'">test 2</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="25">
              <mat-label>Filter 2</mat-label>
              <mat-select [value]="'test2'">
                <mat-option [value]="'test'">test</mat-option>
                <mat-option [value]="'test2'">test 2</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 100%" fxFlex="50">
              <mat-label>Search</mat-label>
              <mat-icon matPrefix style="cursor: pointer">search</mat-icon>
              <input matInput
                     placeholder="Search"
                     id="conceptSearchInput"
                     #conceptSearchInput (keyup.enter)="isMemberOf($event.target.value)">
            </mat-form-field>

            <mat-form-field floatLabel="always" appearance="outline" fxFlex="100" readonly>
              <mat-label>Results:</mat-label>
              <mat-wrapper>
                <mat-nav-list dense style="height: 200px; overflow: auto;">
                  <ng-container *ngFor="let member of concept.Member">
                  <mat-list-item *ngIf="member.Exclude == false" (click)="nodeClick(member.iri)" (dblclick)="nodeClick(member.Class.iri)">
                    <mat-icon matListIcon>add</mat-icon>
                    <h3 matLine> {{member.Class.name}} </h3>
                    <p matLine>
                      <span> {{member.Class.iri}} </span>
                    </p>
                  </mat-list-item>
                </ng-container>
                </mat-nav-list>
              </mat-wrapper>
            </mat-form-field>

            <mat-paginator fxFlex="100" [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

          </div>
        </ng-template>
      </mat-tab>

      <mat-tab label="Mapped From/To" *ngIf="perspective.root == ':SemanticConcept'">
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">compare_arrows</mat-icon>
          Mapped from/to
        </ng-template>
        <ng-template matTabContent>

          <mat-form-field floatLabel="always" appearance="outline" fxFlex="50" readonly>
            <mat-label>Mapped From:</mat-label>
            <mat-wrapper>
              <mat-nav-list dense style="height: 200px; overflow: auto;">
                <ng-container *ngFor="let mapped of mappedFrom">
                <mat-list-item (click)="nodeClick(mapped.iri)">
                  <mat-icon matListIcon>add</mat-icon>
                  <h3 matLine> {{mapped.name}} </h3>
                  <p matLine>
                    <span> {{mapped.iri}} </span>
                  </p>
                </mat-list-item>
              </ng-container>
              </mat-nav-list>
            </mat-wrapper>
          </mat-form-field>

          <mat-form-field floatLabel="always" appearance="outline" fxFlex="100" readonly>
            <mat-label>Mapped To:</mat-label>
            <mat-wrapper>
              <mat-nav-list dense style="height: 200px; overflow: auto;">
                <ng-container *ngFor="let mapped of mappedTo">
                <mat-list-item (click)="nodeClick(mapped.iri)">
                  <mat-icon matListIcon>add</mat-icon>
                  <h3 matLine> {{mapped.name}} </h3>
                  <p matLine>
                    <span> {{mapped.iri}} </span>
                  </p>
                </mat-list-item>
              </ng-container>
              </mat-nav-list>
            </mat-wrapper>
          </mat-form-field>

        </ng-template>
      </mat-tab>

      <mat-tab label="Edit Concept">
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">edit</mat-icon>
          Edit Concept
        </ng-template>
        <ng-template matTabContent>
          <app-edit-concept [concept]="concept" [tab]="true"></app-edit-concept>
        </ng-template>
      </mat-tab>

    </mat-tab-group>
  </div>
</mat-card-content>
