<as-split direction="horizontal">
  <!-- LEFT -->
  <as-split-area size="25" style="height: calc(100vh - 73px);">
    <app-side-nav [root]="perspective.root" [relationships]="relationships" [concept]="concept" [children]="children" [parents]="parents" [selectedIri]="selectedIri"></app-side-nav>
  </as-split-area>

  <!-- Middle -->
  <as-split-area [size]="getSize()">
    <div class="as-split-area-content">

      <mat-card *ngIf="concept != null">

        <!-- Header -->
        <app-card-header [title]="perspective.caption + ' - ' + concept.name"
                         [subtitle]="concept.description"
                         [icon]="perspective.icon"
                         [color]="perspective.color"
                         style="height: 64px;"></app-card-header>
        <!-- Dashboard container-->
        <mat-card-content class="full-page-card">

          <app-concept-summary *ngIf="perspective.root != ':DiscoveryCommonDataModel'"
            [concept]="concept">
          </app-concept-summary>

          <app-concept-library
            [relationships]="relationships"
            [concept]="concept"
            [children]="children"
            [parents]="parents"
            [perspective]="perspective"> </app-concept-library>

        </mat-card-content>
      </mat-card>

    </div>
  </as-split-area>

  <!-- Right -->
  <as-split-area size="25" *ngIf="perspective.root == ':DiscoveryCommonDataModel'">
    <div class="as-split-area-content" *ngIf="concept != null && perspective != null">
          <app-concept-sidebar-summary
            [concept]="concept"
            [children]="children"
            [parents]="parents"
            [perspective]="perspective">
          </app-concept-sidebar-summary>
    </div>
  </as-split-area>

</as-split>
