<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="tree-compact scroll" id="conceptTree">
  <mat-tree-node
    *matTreeNodeDef="let node"
    matTreeNodePadding
    matTreeNodePaddingIndent="15"
    class="hover-highlight"
    [class.selected]="selectedIri == node.id"
    (click)="selectNode(node)"
    (mouseenter)="nodeHover(node)" (mouseleave)="nodeHover(null)"
    style="cursor: pointer">
    <button mat-icon-button [attr.aria-label]="'toggle ' + node.filename" matTreeNodeToggle [disabled]="!node.expandable">
      <mat-icon class="mat-icon-rtl-mirror">
        {{getNodeIcon(node)}}
      </mat-icon>
    </button>
    <span *ngIf="node.id === '_LOADMORE_'"><b><i>{{node.name}}</i></b></span>
    <span *ngIf="node.id !== '_LOADMORE_'">{{node.name}}</span>
    <mat-progress-bar *ngIf="node.isLoading"
                      style="width: 50%"
                      mode="indeterminate"
                      class="example-tree-progress-bar"></mat-progress-bar>
  </mat-tree-node>
</mat-tree>
