<mat-card-header [matTooltip]="subtitle" matTooltipShowDelay="500" matTooltipHideDelay="0" matTooltipPosition="before">

  <div mat-card-avatar>
    <span class="fad fa-fw fa-2x {{icon}}" [style.color]="color"></span>
  </div>

  <mat-card-title [style.color]="color">{{title}}</mat-card-title>
  <mat-card-subtitle class="one-line">{{subtitle}}</mat-card-subtitle>

  <ng-container *ngIf="showActions">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>open_in_new</mat-icon>
        <span>Open</span>
      </button>
      <button mat-menu-item>
        <mat-icon>close</mat-icon>
        <span>Close</span>
      </button>
    </mat-menu>
  </ng-container>

</mat-card-header>