<mat-form-field>
  <mat-label>View Switcher</mat-label>
  <mat-select [(value)]="selected" (selectionChange)="changeView()">
    <mat-option>None</mat-option>
    <mat-option value="ontology">Ontology Viewer</mat-option>
    <mat-option value="dataModel">Data Model Viewer</mat-option>
    <mat-option value="valueSets">Value Set Viewer</mat-option>
    <mat-option value="option4">Data Set Definitions</mat-option>
    <mat-option value="option5">Data Model Maps</mat-option>
  </mat-select>
</mat-form-field>
